body{
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #f5f5f5;

}

.container{
           background: white;
           padding: 40px; 
           border-radius: 8px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           width: 300px;
           text-align: center;
}

input{
      width: 100%;
      padding: 10px;  
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
}

button{
       width: 107%;
       padding: 10px; 
       background-color: #e67e22;
       color: white;
       border: none;
       border-radius: 5px;
       cursor: pointer;
}

button:hover{
             background-color: #d35400;   

}

p{
  margin-top: 10px;
  font-size: 14px;  
}